.hero {
    background-image: url('https://nubank.com.br/_next/static/images/feaa967a7ec8170b6d2aa266376c8478-home-hero-lg@1x.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
}